<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Movimientos Criptomonedas</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Crypto Inversiones</h1>
        </div>
    </header>
    <section class="principal">

    </section>
    <footer>
        <div class="container">
            &#169 Todos los derechos reservados
        </div>
    </footer>
</body>
</html>